{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-12 d-flex justify-content-center flex-row">
          
            <a href="{% url 'create-note' %}" class="btn btn-primary">Add Note</a>
            
        </div>
       
        
      {{user.username}}
<div class="col-md-8 my-1">
            <hr>

        </div>
        {% for note in object_list %}
        <div class="col-md-8 my-2">
            <figure class="text-center">
                <blockquote class="blockquote">
                  
                  <h5 style="color:green;">{{note.title}}</h5>
                </blockquote>
                <figcaption class="body">
                <p style="color:black;">{{note.text}}</p>
                </figcaption>
                <figcaption class="body">
              <b style="color:rgb(255, 0, 43)">{{note.created_at|date:'y-m-d'}}</b>
                </figcaption>
                <a href="{% url 'update-note' note.pk %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                  </svg>
  
                </a>
                <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal_{{note.pk}}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-trash text ms-3" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                  </svg>
                </a>



<div class="modal fade" id="exampleModal_{{note.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{note.title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do Yoy Really Want to Delete Your Note Permantly?
      </div>
      <div class="modal-footer">
        <form method="POST" action="{% url 'delete-note' note.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Delete</button>
        </form>
           
      </div>
    </div>
  </div>
</div>
</figure>
              

</div>
    {% endfor %}
        
    <div class="col-md-8 my-1">
            <hr>
      </div>
        
   </div>

</div>

{% endblock content %}